
#color-schemes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
/*  width: 100vw;
  height: 100vh;*/
  overflow: auto;
  padding: 1em;
  box-sizing: border-box;
}
